# Python
__pycache__/
*.py[cod]
*$py.class

# Project specific
samples/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE specific
.vscode/
.idea/
*.swp
*.swo 